* {
    box-sizing: border-box;
}
h1{
    color: rgb(33, 0, 153);
    text-align: center;
}
p{
    font-family:'Comic Sans MS';
}
img{
    width: 100%;
    border-radius: 100px;
    border: 10px solid #00cf1d;
    box-shadow: 6px 10px 15px 0px #00000066;
}


table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #999;
}

table tr td,
table tr th {
    padding: 10px;
    border: 1px solid #999;
    text-align: center;
}
input, textarea {
    width: 200px;
}
label
{
    display: block;
}
.mg1 {
    margin-bottom: 20px;
}
.labelradio
{
    display: inline;
}
input[type="radio"]
{
    width: auto;
}