:root {
  --header            : #4f276a;
  --list-item-bg      : #e3ccff;
  --header-nav-text   : #afa4c0;
  --list-item-bg-hover: #6b398c;
  --list-item-bg-focus: #542d6e;
  --bt-default-gb     : #ddd;
}

html,
body {
  background-color        : #f1f1f1;
  font-family             : Arial, Helvetica, sans-serif;
  margin                  : 0;
  padding                 : 0;
  min-height              : 100vh;
  line-height             : 1.15;
  -webkit-text-size-adjust: 100%;
  font-size               : 100%;
}

/* This is where your CSS starts
   ========================================================================== */
   header {
    display: flex;
    align-items: center;
    background-color: purple;
    color: white;
   }

   .logo {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 10px;
   }

   .logo img {
    width: 35px;
   }

   nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
   } 

   nav ul li a {
    padding: 20px 13px;
    text-decoration: none;
    color:wheat;
   }
   nav ul li:last-child {
    padding-right: 13px;
   }

   nav ul li a:hover {
    background-color: white;
    color: black;
   }

   .container {
  margin-inline: 15px;
  width:auto
   }

   .d-flex{
    display: flex;
    align-items: center;
gap:15px;
   }

   .flex-50p{
    flex:1 1 50%;
   }

   
  .bt {
  background: #d3cfcf;
  padding: 10px 13px;
  border-radius: 4px;
  border: none;
  box-shadow: 0 2px 5px -1px #00000042, 0 1px 2px 0px #00000073;
  text-align: center;
  font-size: 1.1em;
  width: max-content;
  }

  .gap-y{
    gap:20px;
  }

  .bt-purple {
background-color: #6951a0;
color: white;
  }

  @media screen and (min-width: 800px) {
    .container {
      margin-inline: auto;
      width: 770px;
       }
  }
  @media screen and (min-width: 1000px) {
    .container {
      margin-inline:auto;
      width:999px;
    }

    .bt {
      padding: 15px 20px;
    }
  }

.card-body {
  
  padding: 5px;
  margin: 5px 15px 5px 15px;
}



.justify-content-center {
  justify-content: center;
  gap: 25px;
}

.card {
  border: none;
  box-shadow: 0 7px 21px 2px #00000042;
  border-radius: 4px;
}

.card-header {
  background: #cbc6c659;
  padding: 10px;
}

footer {
  background: #480348;
}

.sda {
  color: white;
}

.d-flex a {
  color: white;
  text-decoration: none;
}

.sda-flex-end {
  justify-content: flex-end;
}

