h1, h2 {
    margin:0;
}
.departament{
    font-weight: bold;
    font-size: 18px;
}
.font-normal {
    font-weight: normal;
    font-size: 18px;

}
.carte {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    border-radius: 7px;
    aspect-ratio: 16/9;
    overflow: hidden;
}
.verde {
    width: 100%;
    background: linear-gradient(to right, rgb(6, 88, 6), rgb(87, 194, 87));
    height: 30px;
}

.titlu-logo {
    display: flex;
    gap:10px;
margin:10px 20px;
}

h1 {
    font-size: 22px;
    margin: 10px 0 0 0;
}


.titlu-logo img {
    width: 70px;
}
.adresa {
    display:flex;
    padding: 20px;
    align-items: flex-end;

}
.adresa img {
    width: 200px;
    margin-bottom: 10px;
    margin-left: 48px;
}